/* Define colors */
:root {
    --silk: #EEE5D9;
    --marble: #EBE8E0;
    --champagne: #D2B68A;
    --pearl: #FDF7F7;
    --velvet: #2D2D52;
    --onyx: #000000;
}

body {
    font-family: 'Quicksand', sans-serif;
    background-color: #FDF7F7; /* Pearl */
    color: #000000; /* Onyx */
    margin: 0;
    padding: 0;
}

header {
    background-color: #000000; /* Onyx */
    color: #D2B68A; /* Champagne */
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-family: 'Cinzel', serif;
    color: #D2B68A; /* Champagne */
}

nav .navbar {
    display: flex;
    justify-content: center;
    background-color: #D2B68A; /* Champagne */
    padding: 10px;
}

nav .navbar a {
    color: #000000; /* Onyx */
    padding: 14px 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
}

nav .navbar a:hover {
    background-color: #000000; /* Onyx */
    color: #D2B68A; /* Champagne */
}

main {
    padding: 20px;
}

main h2 {
    color: #D2B68A; /* Champagne */
}

.product {
    background-color: #EBE8E0; /* Marble */
    padding: 20px;
    margin: 10px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

footer {
    background-color: #000000; /* Onyx */
    color: #D2B68A; /* Champagne */
    padding: 20px;
    text-align: center;
}

footer a {
    color: #D2B68A; /* Champagne */
    text-decoration: none;
}

footer a:hover {
    color: #EEE5D9; /* Silk */
}

footer .fa {
    padding: 10px;
    font-size: 20px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
    background-color: #D2B68A; /* Champagne */
    color: #000000; /* Onyx */
}

footer .fa:hover {
    background-color: #000000; /* Onyx */
    color: #D2B68A; /* Champagne */
}
