/*----------------FONT----------------------
font-family: "Cinzel", serif;  => title
font-family: "Fauna One", serif;  => => Main


#eee5d3
*/


body {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 10% 2% auto auto;
  grid-template-areas: 
  'header header header'
  'nav    nav    nav'
  'main   main   main'
  'footer footer footer';
}
h1{
  font-family: "Cinzel", serif;
  font-size: 2cm;
 
}
ul{
  font-family: "Fauna One", serif;
  /*font-family: 'Varela Round', sans-serif;*/
  list-style: none;
  
}
li {
  float: left;
  width: 25%;
  
}

header {
  /*TEXT*/
  background-color: white;
  color: black;
  text-align: center;

  /*Backgroud SET*/
  grid-area: header;
}
nav{
  grid-area: nav;
  background-color: white;
  font-size: 1rem;
  color: black;
}
main {
  font-family: "Fauna One", serif;
	line-height: 1.6;
  background-color: antiquewhite;
  grid-area: main;
}
footer {
  
  font-family: "Quicksand", sans-serif;
  font-size: smaller;
  background-color: black;
  color: rgb(209, 209, 209);
  grid-area: footer;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto ;
  grid-template-areas: 
  'customerSV  membership  aboutUs';
  
}
h4{
  font-family: "Quicksand", sans-serif;
  font: bold;
  font-size: medium;
  color: white;
}
h2{
  font-family: "Cinzel", serif;
  font-size: 1cm;
  color: white;
}

/*-------------Footer Design---------*/

.customerService{
  grid-area: customerSV;
  margin: 5%;
}
.membership{
  grid-area: membership;
  margin: 5%;
}
.aboutUs{
  grid-area: aboutUs;
  margin: 5%;
}

a{
  color: white;
  text-decoration-line: none;
}




/*--------ICON----------*/
.fa-youtube {
  background: black;
  color: white;
}

.fa-instagram {
  background: black;
  color: white;
}
.fa-pinterest {
  background: black;
  color: white;
}

.fa-facebook {
background: black;
  color: white;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}



/*----------------Active after click of pointing-----------*/

a:hover{
  text-decoration: underline; 
  color: #ffffff; 
}
.fa:hover {
  text-decoration: none; 
  opacity: 0.7;
}


/*------Drop down-------------*/
.dropbtn {
  background-color: black;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 2%;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: rgb(54, 54, 54);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}
